<h1>New Blog Post</h1>

<form action="/posts" method="post">
  <label for="name">Post Name:</label>
  <input type="text" name="name">
  <label for="content">Content:</label>
  <input type="text" name="content">
  <input type="submit" name="submit" value="submit">
</form>
